@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: 700;
}

.scoreCounter {
  width: 550px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 5px;
}

.moves {
  font-weight: bold;
}

.scoreCount {
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: hsl(217, 16%, 45%);
  text-align: center;
}

.score {
  font-size: 3.5rem;
}

.rock,
.paper,
.scissors,
.housePick {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  padding: 2rem;
  display: grid;
  place-content: center;
  background-color: white;
  color: hsl(229, 25%, 31%);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  gap: 4rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

.rock:after {
  content: "";
  position: absolute;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: -1;
  top: -15px;
  left: -15px;
}

.paper::after {
  content: "";
  position: absolute;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: -1;
  top: -15px;
  left: -15px;
}
.scissors:after {
  content: "";
  position: absolute;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: -1;
  top: -15px;
  left: -15px;
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

button {
  padding: 5px 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* Rules page */

.rulesBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  visibility: hidden;
}

.rules {
  width: 350px;
  filter: grayscale(100%);
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.rules main {
  margin-top: 1rem;
}

.rulesMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.active {
  visibility: visible;
}

/* VERSUS */

.versus {
  width: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playerContainer,
.houseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.playerContainer p,
.houseContainer p {
  margin-bottom: 2rem;
}

/* .housePick {
  position: relative;
}

.housePick::after {
  content: "";
  position: absolute;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: -1;
  top: -15px;
  left: -15px;
} */

.gameStatus {
  display: grid;
  place-content: center;
  text-align: center;
  margin-bottom: -2.5rem;
}

.gameStatus p {
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
}

.gameStatus button {
  white-space: nowrap;
  margin-top: 0.5rem;
  color: hsl(229, 25%, 31%);
  background: white;
  font-weight: bold;
  font-size: 0.6rem;
  padding: 0.5rem 2rem;
}
